<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telegram Bots Management</title>
    <link rel="stylesheet" th:href="@{/webjars/github-com-twbs-bootstrap/5.2.3/css/bootstrap.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Telegram Bots Management</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/telegram/chats}">Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/telegram/article-sources}">Article Sources</a>
                </li>
        </div>
    </div>
</nav>

<div class="container">
    <div layout:fragment="main-content">
        <p>
            Main content goes here
        </p>
    </div>
</div>

</body>
</html>