<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Telegram Chats</title>
</head>
<body>
<th:block layout:fragment="main-content">

    <div class="row">
        <h2>Telegram Chats</h2>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Chat ID</th>
                <th>Chat Status</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="chat : ${chats}">
                    <td th:text="${chat.chatId}"></td>
                    <td th:text="${chat.chatStatus}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</th:block>
</body>
</html>