<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telegram Tools</title>
</head>
<body>
<th:block layout:fragment="main-content">

    <div class="row">
        <h2>Articles</h2>
    </div>

    <form th:action="@{/articles}" method="post" th:object="${selected}">
        <div class="row">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button type="submit"
                            name="action"
                            th:value="add"
                            class="btn btn-primary">Add to episode</button>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>
                <li class="nav-item">
                    <select th:field="*{episodeId}" class="form-control">
                        <option th:each="episode : ${episodes}"
                                th:value="${episode.getId()}"
                                th:text="${episode.getEpisodeName()}"></option>
                    </select>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary"
                       th:if="${showAll == true}"
                       th:href="@{/articles?show_all=false}">
                        Hide added
                    </a>
                    <a class="btn btn-outline-primary"
                       th:if="${showAll == false}"
                       th:href="@{/articles?show_all=true}">
                        Show added
                    </a>
                </li>
                <li class="nav-item">
                    &nbsp;
                </li>
                <li class="nav-item">
                    <select class="form-control select2" multiple id="source_selector">
                        <option th:each="source : ${sources}"
                                th:selected="${selectedSources.contains(source.id())}"
                                th:text="${source.sourceName()}"
                                th:value="${source.id()}"></option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>Article Name</th>
                    <th>Source Name</th>
                    <th>Added</th>
                    <th>Episodes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <td>
                        <input type="checkbox" th:field="*{selected}" th:value="${article.getArticleId()}"/>
                    </td>
                    <td th:text="${article.getArticleId()}"></td>
                    <td>
                        <a th:href="${article.getArticleUrl()}"
                           th:text="${article.getArticleTitle()}"
                           target="_blank"></a>
                    </td>
                    <td th:text="${article.getSourceName()}"></td>
                    <td th:text="${#temporals.format(article.getArticleAdded(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td>
                        <ul>
                            <li th:each="episode : ${article.getEpisodes()}"
                                th:text="${episode.getEpisodeName()}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $("#source_selector").change(function(event){
                const href = window.location.href;
                const base = href.substring(0, href.indexOf("?"))
                const params = {}
                href
                    .substring(href.indexOf("?") + 1)
                    .split("&")
                    .forEach(p => {
                        const key = p.substring(0, p.indexOf("="));
                        const value = p.substring(p.indexOf("=") + 1);
                        params[key] = value;
                    });
                const selected = [];
                for (let i = 0; i < event.target.selectedOptions.length; i++) {
                    const item = event.target.selectedOptions.item(i);
                    selected.push(item.value);
                }
                params["sources"] = selected.join(",")

                window.location.href = base + "?" + Object.keys(params).map(key => {return key + "=" + params[key]}).join("&")
            });
        });
    </script>

</th:block>
</body>
</html>